<p class="h2 text-center mt-2">Acerca de</p>
<br/>
<p>
    <span class="display-6 d-block text-center" style="font-size:27px;">Desarrollado por:</span>
    <span class="d-block text-center" style="font-size:24px;"><mark style="background:rgba(0,0,0,.2); margin:0; padding:0; padding-left:15px; padding-right:15px;">Alain Berber Álvarez</mark></span>
    
    <span class="d-block text-center" style="font-size:24px;"><mark style="background:rgba(0,0,0,.2); margin:0; padding:0; padding-left:15px; padding-right:15px;">José Abraham Raymundo García</mark></span>
    <br/>
    <span class="d-block text-center" style="font-size:24px;"><strong>Grupo:</strong> DS01SV-21</span>
    <br/>
    <span class="d-block text-center" style="font-size:24px;"><strong>Carrera:</strong> Desarrollo y Gestión de Software</span>
    <br/>
    <span class="d-block text-center w-50 mx-auto lead fw-normal" style="font-size:24px;">Aplicación web desarrollada para la acreditación del segundo parcial en la asignatura de Desarrollo Web Integral</span>
</p>
<div class="text-center mt-2 mb-4">
<img src="/assets/images/alain.jpg" class="rounded border me-1"  width="300" height="229.2" alt="">
<img src="/assets/images/abrh.jpg" class="rounded border"  width="300" alt="">
</div>